# Any directory starting with a dot
**/\.*/
# Except .github
!.github/

# Everything in inputs/ and outputs/
inputs/*
outputs/*

# Font files (large, download separately)
# fonts/*.ttf
# fonts/*.ttc
# fonts/*.otf

# Misc
**/.DS_Store
**/__pycache__
venv/
OMRChecker.wiki/
serverless_web/assets/lib/opencv.js

# Test/temporary files
omr_marker.jpg
result.csv
serverless_web/omr_marker.jpg
